.chat {
    max-width: 750px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: #FCF9F4;

    .chat__head {
        padding-bottom: 1rem;
        color: #443e3e;
    }

    .chat__messages {
        min-height: 300px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: left;
    }

    .chat__form {
        display: flex;
        width: 100%;
        gap: 1rem;
        margin-top: 1rem;

        .chat__input {
            flex: 5;
            padding: 1rem;
            border: 2px solid #ccc;
            border-radius: 25px;
            transition: all .3s ease;
        }

        .chat__input:focus {
            border-color: #c2dfdc;
            box-shadow: 0 0 5px rgba(123, 104, 328, 0.5);
            outline: none;
        }

        .chat__btn {
            flex: 1;
            padding: 1rem;
            border-radius: 25px;
            background-color: #9CC3C0;
            color: white;
            border: none;
            cursor: pointer;
            transition: all .3s ease;
        }

        .chat__btn:hover {
            background-color: #5fb1aa;
            transform: translateY(-2px);
        }

        .chat__btn:active {
            transform: scale(0.98);
        }
    }
}